# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# pnp
.pnp.*

# wasm
main.wasm

# js
**/dist
**/*.d.ts.map
**/*.d.ts

*.tsbuildinfo
src/*.js
main.wasm.*
node_modules
